body {
  margin-bottom: 85px;
}

img.expand-arrow {
  height: 12px;
  cursor: pointer;
  opacity: 0.5;
}

input[disabled] {
  cursor: not-allowed;
}

.narrow {
  width: fit-content;
}

.p-condensed {
  width: 65%;
}

.top-right-buttons {
  position: absolute;
  top: 12px;
  right: 12px;
}

.top-right-buttons > div > button {
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #e9e9e9;
}

.footer-up {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 60px;
  text-align: left;
  background-color: #dddddd;
}
.footerBlack{
   background-color: #242323;
}
.blackButton{
   background-color: #6C757D;
   border-radius: 50%;
    text-align: center;
    border: none;
    color: white;
}.center {
  text-align: center;

}
