body {
  margin-bottom: 85px;
}

@media (max-width: 576px) {
  .jumbotron {
    padding-top: 3rem;
  }
}

img.expand-arrow {
  height: 12px;
  cursor: pointer;
  opacity: 0.5;
}

input[disabled] {
  cursor: not-allowed;
}

.narrow {
  width: fit-content;
}

.p-condensed {
  width: 65%;
}

.top-right-buttons {
  position: absolute;
  top: 6px;
  right: 20px;
}

.top-left-buttons {
  position: absolute;
  top: 6px;
  left: 20px;
}

.top-right-buttons > div > a, .top-left-buttons > div > a {
  padding-top: 0;
  padding-bottom: 0;
}

.list-group-item.rg {
  padding-left: 4em;
}

.row-no-margin {
  margin-right: 0;
  margin-left: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #e9ecef;
}

.footer-up {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 60px;
  text-align: left;
  background-color: #dcdfe2;
}
